
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


.noto-serif-font {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter-normal{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}


/* shared styles */
body{
    background-color: #f6f8ff;
}
.display-flex{
    display: flex;
}
.text-gray{
    color: #252432;
}
.text-light-gray{
    color: #8987A1;
}
.text-black{
    color: #000000;
}
.text-primary{
    color: #E95A08;
}

/* header styles */
.header{
    margin: 0 auto;
}
/* navbar related styles */
.navbar{
    justify-content: space-around;
    align-items: center;
    
}
.nav-item{
    list-style: none;
   margin-right: 48px;
}
.nav-link{
    text-decoration: none;
    font-weight: 500;
    
}
.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}
/* banner related styles */
.banner{
    display: flex;
    max-width: 990px;
    margin: 0 auto;
    padding: 106px;
    justify-content: space-around;
}
.banner-title{
    font-weight: 570;
    
}
.banner-content{
    padding-top: 162px;
}
/* plant section */
.plants-section{
      padding: 3rem 0;
      text-align:center;
    }

    .cards {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      gap: 1rem;
      margin-top: 2rem;
    }

    .card {
      border: 1px solid #ddd;
      padding: 1rem;
      border-radius: 6px;
    }

    .card img {
      width: 100%;
      border-radius: 6px;
      margin-bottom: 0.5rem;
    }
    .btn-primary{
    background-color: #E95A08;
    border: 1px solid;
    padding: 1rem;
    border-radius: 6px;
    color: white;


    }